<div class="card">
    <div class="card-body">
        <div class="h2">
            <!-- Имя автора -->
            {{ user_profile.get_full_name }}
        </div>
        <div class="h3 text-muted">
            <!-- username автора -->
            @{{ user_profile.username }}
        </div>
    </div>
    <!-- Количество подписчиков и подписок-->
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="h6 text-muted">
                Подписчиков: {{ user_profile.following.count }} <br>
                Подписан: {{ user_profile.follower.count }}

            </div>
        </li>
        <li class="list-group-item">
            <div class="h6 text-muted">
                <!--Количество записей -->
                {{ user_profile.posts.count }}
            </div>
        </li>
    </ul>
    <!-- Кнопка подписки -->
    <li class="list-group-item">
        {% if following %}
            <a class="btn btn-lg btn-light"
               href="{% url "profile_unfollow" user_profile.username %}"
               role="button">
                Отписаться
            </a>
        {% else %}
            <a class="btn btn-lg btn-primary"
               href="{% url "profile_follow" user_profile.username %}"
               role="button">
                Подписаться
            </a>
        {% endif %}
    </li>
</div>