{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block header %}{{ group.title }}{% endblock %}
{% block content %}
    <br>
    <h1>{{ group.title }}</h1>
    <p>{{ group.description|linebreaksbr }}</p>
    <br>
    {% for post in page %}
            <!-- Пост -->
            {% include "includes/card_post.html" with post=post group_index=True%}
    {% endfor %}

    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}

{% endblock %}
