{% extends "base.html" %}
{% block title %}Последние обновления на сайте{% endblock %}
{% block header %}Последние обновления на сайте{% endblock %}
{% load cache %}
{% block content %}
{% cache 20 index_page page %}
        {% for post in page %}
            <!-- Пост -->
            {% include "includes/card_post.html" with post=post %}
        {% endfor %}
    {% endcache index_page %}


            <!-- Пагинация -->
    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}

{% endblock %}
